.row {
  display: block;
}

.col {
  display: flex;

  &.spread {
    justify-content: space-between;
  }

  &.right {
    justify-content: flex-end;
  }
}

.subContent {
  margin-left: 20px;
}

.appContainer {
  padding: 10px 30px;
  height: 100vh;
}

.heading {
  font-weight: bolder;
}

.summary {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--base-color);
  margin-right: 20px;
}

.formBackground {
  background: white;
  border: 1px solid var(--base-color);
}

button {
  background: var(--base-color);
  color: white;
  padding: 0.5em 1em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.smallMarginTop {
  margin-top: 10px;
}