.row {
  display: block;
}

.col {
  display: flex;
}

.subContent {
  margin-left: 20px;
}

.appContainer {
  height: 100vh;
}

.summary {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--base-color);
  margin-right: 20px;

  h4 {
    margin: 0;
  }
}

.formBackground {
  background: #f7ddc3;
  border: 1px solid var(--base-color);
}